/* styles.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #023C4D;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h2 {
    color: #064e3b;
}

label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-top: 10px;
    color: #064e3b;
}

input {
    width: 93.5%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #064e3b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #04372a;
}

.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
}

.or-divider::before,
.or-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.or-divider span {
    padding: 0 10px;
    font-size: 14px;
    color: #666;
}

.google-btn {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
}

.google-btn:hover {
    background-color: #cccccc;
}

.signup-message {
    margin-top: 15px;
    font-size: 14px;
}

.signup-message a {
    color: #064e3b;
    text-decoration: none;
    font-weight: bold;
}

.signup-message a:hover {
    text-decoration: underline;
}